html, body {
    height: 100%;
}

.left_panel{
    min-width:200px;
    width: 20%;
    height: 100%;
    float: left;
}
.right_panel{
    box-shadow: -1px -1px 3px #ccc;
    background: #ccc;
    height: 100%;
    width: 79%;
    float: left;
}

.left_panel ul{
    list-style: none;
    padding-left: 0px;
}
.left_panel ul a{
    cursor: pointer;
}

.left_panel ul li{
    margin: 3px 0px ;
    border-top: 1px solid #ccc;
}


.left_panel ul li img{
    margin-top: -25px;

}
.left_panel ul li a>div{
    display: inline-block;
}

.left_panel ul li a:hover div{
    text-decoration: underline;
}